<nav class="navbar navbar-expand-lg navbar-light bg-success">
    <div class="wrapper">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01"
                aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
            <a class="navbar-brand" href="#">Hidden brand</a>
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Link</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
                </li>
            </ul>
            <form class="form-inline my-2 my-lg-0" autocomplete="off">
                <div class="autocomplete" style="width:300px;">
                    <div class="input-group">
                        <input class="form-control autocomplete" id="search" type="search" placeholder="Search...">
                        <div class="input-group-append">
                            <button class="btn btn-secondary" type="button" id="button-addon2">
                                <i class="fa fa-search"></i>
                            </button>
                        </div>
                    </div>
                    <div class="autocomplete-items">

                    </div>
                </div>
            </form>
        </div>
    </div>
</nav>

<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script>

    $('#search').on('input', function () {
        var jqxhr = $.get("search", {q: $(this).val()}, function (data) {
            console.log(data);
            $('.autocomplete-items').empty();
            data = $.parseJSON(data);
            $.each(data, function (i, item) {
                $('.autocomplete-items').append('<div class=""><img src="' + item.coverArt + '">' + item.title + '</div>')
            });
        });
    });
</script>